@tailwind base;
@tailwind components;
@tailwind utilities;



/* add the code bellow */ 
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


#root,body{
   overflow-x: hidden; 
   margin: 0;
   padding: 0;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background-color: rgb(0, 0, 0);
  width: 2.3rem;
  color: white;
  height: 4rem;
  z-index: 10;
  display: none !important;
}



/* @keyframes scrollFromTop {
  0% {
    transform: translateY(-100%);  
  }
  100% {
    transform: translateY(0); 
  }
}

.scroll-animation {
  animation: scrollFromTop 2s ease-in-out;  
} */


/* Define the slide from top animation */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%); /* Start above the viewport */
  }
  100% {
    transform: translateY(0); /* End at its normal position */
  }
}

.slide-down {
  animation: slideFromTop 1s ease-out;  /* 1s duration with ease-out for smoothness */
}




